@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Segoe UI", SegoeUI, "Microsoft JhengHei", "微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-controller {
  display: none;
}

.menu-controller:checked ~ .hamburger-menu-list {
  display: block;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  height: 54px;
  background-color: #fff;
}

@media screen and (max-width: 1082px) {
  .nav {
    padding: 0 25px;
  }
}

@media screen and (max-width: 840px) {
  .nav {
    padding: 0 5px;
  }
}

.nav .hamburger-menu {
  display: none;
  padding: 0 10px;
  font-size: 28px;
  border: 2px solid transparent;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .nav .hamburger-menu {
    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.nav .hamburger-menu-list {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  background-color: #e6e6e6;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.nav .hamburger-menu-list a {
  position: relative;
  display: block;
  padding: 14px 15px 15px;
  font-size: 15px;
  text-decoration: none;
  color: #262626;
}

.nav .hamburger-menu-list a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: #ddd;
  content: "";
}

.nav .hamburger-menu:active {
  border-color: #000;
}

@media screen and (max-width: 900px) {
  .nav .lgp-item {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .nav .lg-item {
    display: none;
  }
}

.nav .logo,
.nav li {
  border: 1px dotted transparent;
}

.nav .logo:active,
.nav li:active {
  border: 1px dotted #000;
}

.nav .nav-list a,
.nav .icon-list a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

.nav .nav-list a:hover span,
.nav .icon-list a:hover span {
  border-bottom: 3px solid #000;
}

.nav .logo {
  padding: 16px 6px 10px 10px;
  width: 137px;
}

@media screen and (max-width: 840px) {
  .nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.nav .logo img {
  height: 23px;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 840px) {
  .nav .nav-list {
    display: none;
  }
}

.nav .nav-item {
  padding: 16px 8px;
}

.nav .nav-item span,
.nav .nav-item i {
  vertical-align: middle;
}

@media screen and (max-width: 840px) {
  .nav .sub-menu {
    display: none;
  }
}

.nav .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 840px) {
  .nav .icon-list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 1400px) {
  .nav .icon-list li:not(:first-of-type) span {
    display: none;
  }
  .nav .icon-list li:not(:first-of-type) i {
    font-size: 18px;
  }
}

@media screen and (max-width: 840px) {
  .nav .search-btn {
    margin-right: auto;
  }
}

.nav .more {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav .more {
    display: block;
  }
}

.nav .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 8px;
  cursor: pointer;
}

.nav .user span {
  font-size: 13px;
}

.nav .user img {
  margin-left: 5px;
  width: 32px;
  height: 32px;
  border: 0.5px solid #ddd;
  border-radius: 50%;
}

.content {
  padding: 0 5%;
}

.banner {
  position: relative;
  padding: 0 5%;
  margin-bottom: 48px;
  height: 511px;
}

@media screen and (max-width: 1082px) {
  .banner {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: auto;
  }
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.banner-item {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 11%;
  max-width: 520px;
}

@media screen and (max-width: 1082px) {
  .banner-item {
    left: 6%;
    max-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .banner-item {
    position: static;
    padding: 100px 57px;
    max-width: 100%;
    text-align: center;
    background-color: #e6e6e6;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.banner-item > span {
  display: inline-block;
  padding: 4px 14px 6px;
  margin-bottom: 3px;
  font-size: 15px;
  background-color: #ffb900;
  font-weight: 700;
}

.banner-item h2 {
  position: relative;
  margin-bottom: 12px;
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .banner-item h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

.banner-item p {
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 20px;
}

@media screen and (max-width: 1082px) {
  .banner .btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .banner .btn-block {
    display: block;
  }
}

.banner-btn {
  padding: 10px 22px;
  margin-right: 29px;
  font-size: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.banner-btn span {
  position: relative;
}

.banner-btn i {
  position: relative;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  vertical-align: middle;
}

.banner-btn:hover span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
}

.banner-btn:hover i {
  right: -5px;
}

.banner-btn-dark {
  color: #fff;
  background-color: #000;
}

.banner-btn-dark span {
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner-btn-dark:hover span {
  left: -5px;
}

.select-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .select-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.select-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .select-list ul {
    display: block;
  }
}

.select-list ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 30px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  white-space: pre-line;
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .select-list ul a {
    display: block;
    padding: 14px 0;
    text-align: left;
    white-space: nowrap;
  }
}

.select-list ul a:hover span::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  content: "";
}

.select-list ul span {
  position: relative;
}

@media screen and (max-width: 768px) {
  .select-list ul span {
    vertical-align: middle;
  }
}

.select-list ul img {
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .select-list ul img {
    margin-right: 4px;
    margin-bottom: 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.product-card {
  width: 23.5%;
}

@media screen and (max-width: 1082px) {
  .product-card {
    margin-bottom: 40px;
    width: 48.8%;
  }
}

@media screen and (max-width: 540px) {
  .product-card {
    width: 100%;
  }
}

.product-card:hover img {
  opacity: 0.9;
}

.product-card img {
  width: 100%;
  vertical-align: middle;
}

.product-card .tag {
  display: inline-block;
  padding: 3px 14px;
  margin: 12px 0;
  font-size: 13px;
  background-color: #ffd800;
  line-height: 20px;
}

.product-card .no-tag {
  margin-top: 50px;
}

.product-card-text h3 {
  padding: 1px 0 2px;
  font-size: 20px;
  opacity: 0.95;
  line-height: 24px;
  font-weight: 600;
}

.product-card-text a {
  display: inline-block;
  padding: 10px 3px 7px 0;
  font-weight: 600;
  text-decoration: none;
  color: #005da6;
}

.product-card-text a i {
  position: relative;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-card-text a:hover span {
  border-bottom: 2px solid #005da6;
}

.product-card-text a:hover i {
  right: -5px;
}

.product-title {
  padding: 36px 0 4px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}

.follow span {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.follow img {
  width: 28px;
  height: 28px;
}

.footer {
  padding: 36px 5% 18px;
  background-color: #f2f2f2;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1082px) {
  .bottom-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bottom-nav-block {
  margin-bottom: 38px;
  min-width: 16.66666%;
}

@media screen and (max-width: 1082px) {
  .bottom-nav-block {
    min-width: 33.3333%;
  }
}

@media screen and (max-width: 540px) {
  .bottom-nav-block {
    min-width: 100%;
  }
}

.bottom-nav h4 {
  margin-bottom: 12px;
  height: 20px;
  font-size: 15px;
  color: #616161;
  line-height: 20px;
  font-weight: 600;
}

.bottom-nav-list li {
  margin-bottom: 16px;
  height: 16px;
  line-height: 16px;
}

.bottom-nav-list a {
  font-size: 12px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  line-height: 16px;
  font-weight: 400;
}

.bottom-nav-list a:hover {
  text-decoration: underline;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}

.language {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .language {
    margin-bottom: 16px;
    width: 100%;
  }
}

.language:hover a {
  text-decoration: underline;
}

.language i {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: middle;
  color: #666;
}

.language a {
  color: #666;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 540px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.about li:not(.copyright) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .about li:not(.copyright) {
    margin-right: 15px;
  }
}

.about a {
  display: inline-block;
  color: #666;
}

.about a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 11px;
  line-height: 16px;
  color: #616161;
}

@media screen and (max-width: 540px) {
  .copyright {
    margin-top: 8px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */